*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    padding: 50px 100px;
    font-size: 62.5%;
}

h1{
    text-align: center;
    font-size: 2rem;

}


#container{
    text-align: center;
    background-color: rgba(96, 134, 160, 0.692);
    padding: 5rem;
    margin-top: 2rem;
}
/* -----------for input------------ */

.input-div{
    display: inline-block;
}
.input{
    margin: 1rem;
    padding: 1rem 2rem;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}
label{
    color: white;
    font-size: 1.5rem;

}

/* -------------after all js start-------------- */

